.container {
    position: fixed;
	width: 100vw;
}

.search-input {
	height: 40px;
	background-color: #4c4c4c;
	color: #fff;
}

.search-list {
	height: 94vh;
	background-color: #4c4c4c;
	color: #fff;
    padding: 0;
}

.map {
	height: 94vh;
}

.search-text {
	margin-left: 30px;
    background-color: #4c4c4c;
    border: none;
    height: 100%;
    font-size: 20px;
    width: 60%;
    outline: none;
}

.search-btn {
  	margin-left: 30px;
    height: 80%;
    font-size: 5vh;
    border: none;
    border-radius: 5px;	
    background: #237094;
    vertical-align: super;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    padding: 10px 20px;
    height: 40px;
}

ul li:hover {
    background: gray;
}

@media only screen and (min-width: 200px) and (max-width: 750px){
    ul li {
        padding: 10px 0;
        height: 50px;
        font-size: 12px;
        word-break: break-word;
    }
}